
<h1>Eventos</h1>
<hr>

<div>
    <div class="row">
      <div class="col">
        <label class="mr-2">Filtro: </label>
       <input type="text" class="form-control" placeholder="Pesquise" [(ngModel)]="filtrolista" >
      </div>
   </div>

</div>


<div>
  <table  class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th><button class="btn btn-outline-btn-primary btn-sm" (click)="alterarImagem()" >{{!mostrarImagem ? "Exibir" : "Ocultar"}}</button></th>
        <th>Local</th>
        <th>Lote</th>
        <th>Qtd Pessoas</th>
        <th>Tema</th>
        <th>Opção</th>
      </tr>
    </thead>

    <tbody *ngIf="eventosFiltados && eventosFiltados.length > 0">
      <tr *ngFor="let evento of eventosFiltados">
        <td> <img [collapse]="!mostrarImagem" [isAnimated]="true" [style.width.px]="larguraImg" [style.height.px]="alturaImg" src="/assets/{{evento.imagemURL}}" ></td>
        <th>{{ evento.eventoId }}</th>
        <td>{{ evento.local }}</td>
        <td>{{ evento.lote }}</td>
        <td>{{ evento.qtdPessoas }}</td>

        <th>{{ evento.tema }}</th>
        <td>
          <button type="button" class="btn btn-primary btn-sm mr-2">Primary</button>
          <button type="button" class="btn btn-danger btn-sm">Excluir</button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventosFiltados.length">
      <tfoot  class="text-center">
        <td colspan="8">
          <h4>Nenhum evento encontrados</h4>
        </td>
      </tfoot>
    </tfoot>
  </table>
</div>
